# Open 2020: Winner Predictor
## Diego Chinellato - 867637
## Giorgia Campardo - 867928
### Web Intelligence Course

In [1]:
%matplotlib notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
df = pd.read_excel('2019.xlsx')
df_ext = pd.read_excel('2019+.xlsx')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2234 entries, 0 to 2233
Data columns (total 36 columns):
ATP           2234 non-null int64
Location      2234 non-null object
Tournament    2234 non-null object
Date          2234 non-null datetime64[ns]
Series        2234 non-null object
Court         2234 non-null object
Surface       2234 non-null object
Round         2234 non-null object
Best of       2234 non-null int64
Winner        2234 non-null object
Loser         2234 non-null object
WRank         2230 non-null float64
LRank         2221 non-null float64
WPts          2231 non-null float64
LPts          2221 non-null float64
W1            2215 non-null float64
L1            2215 non-null float64
W2            2205 non-null float64
L2            2205 non-null float64
W3            1119 non-null float64
L3            1119 non-null float64
W4            265 non-null float64
L4            265 non-null float64
W5            96 non-null float64
L5            96 non-null float64
Wsets         2215 non-null float64
Lsets         2215 non-null float64
Comment       2234 non-null object
B365W         2225 non-null float64
B365L         2225 non-null float64
PSW           2225 non-null float64
PSL           2225 non-null float64
MaxW          2234 non-null float64
MaxL          2234 non-null float64
AvgW          2234 non-null float64
AvgL          2234 non-null float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 628.4+ KB

In [36]:
df_ext.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23634 entries, 0 to 23633
Data columns (total 42 columns):
ATP           23634 non-null int64
Location      23634 non-null object
Tournament    23634 non-null object
Date          23634 non-null datetime64[ns]
Series        23634 non-null object
Court         23634 non-null object
Surface       23634 non-null object
Round         23634 non-null object
Best of       23634 non-null int64
Winner        23634 non-null object
Loser         23634 non-null object
WRank         23624 non-null float64
LRank         23586 non-null float64
WPts          23626 non-null float64
LPts          23587 non-null float64
W1            23483 non-null float64
L1            23485 non-null float64
W2            23260 non-null float64
L2            23260 non-null float64
W3            11173 non-null float64
L3            11173 non-null float64
W4            2200 non-null float64
L4            2200 non-null float64
W5            816 non-null float64
L5            816 non-null float64
Wsets         23482 non-null float64
Lsets         23480 non-null float64
Comment       23634 non-null object
B365W         23540 non-null float64
B365L         23561 non-null float64
EXW           20834 non-null float64
EXL           20839 non-null float64
LBW           20172 non-null float64
LBL           20183 non-null float64
PSW           23513 non-null float64
PSL           23513 non-null float64
SJW           10314 non-null float64
SJL           10321 non-null float64
MaxW          23609 non-null float64
MaxL          23609 non-null float64
AvgW          23609 non-null float64
AvgL          23609 non-null float64
dtypes: datetime64[ns](1), float64(30), int64(2), object(9)
memory usage: 7.6+ MB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2234 entries, 0 to 2233
Data columns (total 36 columns):
ATP           2234 non-null int64
Location      2234 non-null object
Tournament    2234 non-null object
Date          2234 non-null datetime64[ns]
Series        2234 non-null object
Court         2234 non-null object
Surface       2234 non-null object
Round         2234 non-null object
Best of       2234 non-null int64
Winner        2234 non-null object
Loser         2234 non-null object
WRank         2230 non-null float64
LRank         2221 non-null float64
WPts          2231 non-null float64
LPts          2221 non-null float64
W1            2215 non-null float64
L1            2215 non-null float64
W2            2205 non-null float64
L2            2205 non-null float64
W3            1119 non-null float64
L3            1119 non-null float64
W4            265 non-null float64
L4            265 non-null float64
W5            96 non-null float64
L5            96 non-null float64
Wsets         2215 non-null float64
Lsets         2215 non-null float64
Comment       2234 non-null object
B365W         2225 non-null float64
B365L         2225 non-null float64
PSW           2225 non-null float64
PSL           2225 non-null float64
MaxW          2234 non-null float64
MaxL          2234 non-null float64
AvgW          2234 non-null float64
AvgL          2234 non-null float64
dtypes: datetime64[ns](1), float64(24), int64(2), object(9)
memory usage: 628.4+ KB

In [6]:
df.describe()

,ATP,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,...,Wsets,Lsets,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
count,2234.000000,2234.000000,2230.000000,2221.000000,2231.000000,2221.000000,2215.000000,2215.000000,2205.000000,2205.000000,...,2215.000000,2215.000000,2225.000000,2225.000000,2225.000000,2225.000000,2234.000000,2234.000000,2234.000000,2234.000000
mean,28.635184,3.453894,57.948430,79.944169,1723.479606,1104.742008,5.823928,4.190971,5.822676,4.043537,...,2.200451,0.445147,1.850387,3.222966,1.937683,3.526445,2.002936,3.743693,1.871629,3.186124
std,15.505220,0.837904,54.876823,76.409609,2022.360691,1145.908936,1.199468,1.828982,1.229490,1.840488,...,0.455321,0.577775,0.917769,3.228215,1.051800,3.723625,1.125870,4.409477,0.933585,2.769056
min,1.000000,3.000000,1.000000,1.000000,17.000000,3.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.002000,1.070000,1.005000,1.070000,1.010000,1.080000,1.010000,1.060000
25%,17.000000,3.000000,20.000000,36.000000,707.000000,577.000000,6.000000,3.000000,6.000000,3.000000,...,2.000000,0.000000,1.300000,1.660000,1.330000,1.760000,1.360000,1.820000,1.310000,1.720000
50%,29.000000,3.000000,48.000000,64.000000,983.000000,830.000000,6.000000,4.000000,6.000000,4.000000,...,2.000000,0.000000,1.570000,2.300000,1.640000,2.440000,1.670000,2.510000,1.600000,2.340000
75%,41.000000,3.000000,78.000000,98.000000,1740.000000,1205.000000,6.000000,6.000000,6.000000,6.000000,...,2.000000,1.000000,2.100000,3.500000,2.190000,3.650000,2.270000,3.800000,2.120000,3.477500
max,54.000000,5.000000,455.000000,1415.000000,12415.000000,12355.000000,7.000000,7.000000,7.000000,7.000000,...,3.000000,2.000000,9.000000,41.000000,11.730000,37.800000,12.220000,67.000000,9.640000,28.490000

In [31]:
def compute_elo_rankings(data):
    """
    Given the list on matches in chronological order, for each match, computes 
    the elo ranking of the 2 players at the beginning of the match
    """
    print("Elo rankings computing...")
    players=list(pd.Series(list(data.Winner)+list(data.Loser)).value_counts().index)
    elo=pd.Series(np.ones(len(players))*1500,index=players)
    ranking_elo=[(1500,1500)]
    for i in range(1,len(data)):
        w=data.iloc[i-1,:].Winner
        l=data.iloc[i-1,:].Loser
        elow=elo[w]
        elol=elo[l]
        pwin=1 / (1 + 10 ** ((elol - elow) / 400))    
        K_win=32
        K_los=32
        new_elow=elow+K_win*(1-pwin)
        new_elol=elol-K_los*(1-pwin)
        elo[w]=new_elow
        elo[l]=new_elol
        ranking_elo.append((elo[data.iloc[i,:].Winner],elo[data.iloc[i,:].Loser])) 
    ranking_elo=pd.DataFrame(ranking_elo,columns=["elo_winner","elo_loser"])    
    ranking_elo["proba_elo"]=1 / (1 + 10 ** ((ranking_elo["elo_loser"] - ranking_elo["elo_winner"]) / 400))   
    return ranking_elo

In [81]:
def preprocess_data(df, 
                    features_to_drop=[], 
                    missing_values="drop", 
                    drop_first=False):
    """
    Processes raw data and returns a tuple (X, Y) where X is the cleaned dataset and Y is the array of labels.
    """
    # Sort by date to calculate ELO
    X = df.sort_values(by='Date')
    # TODO compute elo
    
    # Drop unuseful columns
    features_to_drop += ['ATP', 'Location', 'Tournament', 'Date', 'Comment', 
                         'WPts', 'LPts', 'Wsets', 'Lsets', 
                         'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 
                         'B365W', 'B365L', 'EXW', 'EXL', 'LBW', 'LBL', 'PSW', 'PSL', 'SJW', 'SJL']
    X = X.drop(columns=features_to_drop)
    
    # Deal with missing values
    
    if missing_values == 'drop':
        X = X.drop(columns=[])
    elif missing_values == 'univariate':
        from sklearn.impute import SimpleImputer
        pass
    elif missing_values == 'multivariate':
        pass
    
    # Convert ordinal features to int (higher value means more important)
    series = ['ATP250', 'ATP500', 'Masters 1000', 'Masters Cup', 'Grand Slam']
    series2int = {s: i for i, s in enumerate(series)}
    rounds2int = {'1st Round': 0,
                  '2nd Round': 1,
                  '3rd Round': 2,
                  '4th Round': 3,
                  'Round Robin': 4,
                  'Quarterfinals': 5,
                  'Semifinals': 6,
                  'The Final': 7,
                 }
    X = X.replace({'Round': rounds2int, 'Series': series2int})
    
    # Convert court to binary
    X = X.replace({'Court': {'Outdoor': 0, 'Indoor': 1}})
    
    # One hot encode categorical features into binary features
    X = pd.get_dummies(X, prefix=['Surface_'], columns=['Surface'], drop_first=drop_first)
    
    # Convert players to numeric ?
    players = set(X['Winner']) | set(X['Loser'])
    players_to_id = {}
    for i, player in enumerate(players):
        players_to_id[player] = i
    X = X.replace({'Winner': players_to_id, 'Loser': players_to_id})
    X = X.astype({'Winner':int, 'Loser':int})

    X = X.rename(columns={'Winner':'1st Player', 'Loser':'2nd Player', 
                          'WRank':'P1Rank', 'LRank':'P2Rank', 
                          'MaxW':'MaxP1', 'MaxL':'MaxP2', 
                          'AvgW':'AvgP1', 'AvgL':'AvgP2'})
    
    # Generate labels
    Y = np.concatenate([np.ones(X.shape[0], dtype=int), np.zeros(X.shape[0], dtype=int)])
    # Swap columns and concatenate to data
    tmp = X.copy()
    cols_to_swap = ['1st Player', '2nd Player', 'P1Rank', 'P2Rank', 'MaxP1', 'MaxP2',  'AvgP1',  'AvgP2']
    cols_swapped = ['2nd Player', '1st Player', 'P2Rank', 'P1Rank', 'MaxP2', 'MaxP1',  'AvgP2',  'AvgP1']
    tmp[cols_to_swap] = tmp[cols_swapped]
    tmp.index = np.array(range(X.shape[0] + 1, X.shape[0] * 2 + 1))
    X = pd.concat((X, tmp))
    
    return X, Y

In [82]:
data, labels = preprocess_data(df_ext)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47268 entries, 220 to 47268
Data columns (total 15 columns):
Series            47268 non-null int64
Court             47268 non-null int64
Round             47268 non-null int64
Best of           47268 non-null int64
1st Player        47268 non-null int32
2nd Player        47268 non-null int32
P1Rank            47210 non-null float64
P2Rank            47210 non-null float64
MaxP1             47218 non-null float64
MaxP2             47218 non-null float64
AvgP1             47218 non-null float64
AvgP2             47218 non-null float64
Surface__Clay     47268 non-null uint8
Surface__Grass    47268 non-null uint8
Surface__Hard     47268 non-null uint8
dtypes: float64(6), int32(2), int64(4), uint8(3)
memory usage: 4.5 MB

In [28]:
x = data['WRank'].unique()
y = data['LRank'].unique().astype(np.float64)
x.sort()
y.sort()
print(x)
print(y)
print(len(data['WRank'].unique()))

[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.
  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.
  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.
  99. 100. 101. 102. 103. 104. 105. 106. 107. 108. 109. 110. 111. 112.
 113. 114. 115. 116. 117. 118. 119. 121. 122. 123. 124. 125. 126. 127.
 128. 129. 130. 131. 132. 133. 134. 135. 137. 139. 140. 141. 142. 143.
 144. 145. 146. 147. 148. 149. 150. 152. 154. 155. 157. 166. 167. 168.
 169. 170. 172. 177. 180. 185. 188. 189. 191. 192. 193. 200. 203. 208.
 209. 210. 211. 212. 214. 216. 217. 221. 224. 239. 240. 241. 246. 252.
 256. 262. 263. 265. 270. 273. 276. 277. 280. 281. 288. 290. 314. 317.
 326. 360. 372. 394. 405. 443. 449. 453. 455.  nan]
[1.000e+00 2.000e+00 3.000e+00 4.000e+00 5.000e+00 6.000e+00 7.000e+00
 8.000e+00 9.000e+00 1.000e+01 1.100e+01 1.200e+01 1.300e+01 1.400e+01
 1.500e+01 1.600e+01 1.700e+01 1.800e+01 1.900e+01 2.000e+01 2.100e+01
 2.200e+01 2.300e+01 2.400e+01 2.500e+01 2.600e+01 2.700e+01 2.800e+01
 2.900e+01 3.000e+01 3.100e+01 3.200e+01 3.300e+01 3.400e+01 3.500e+01
 3.600e+01 3.700e+01 3.800e+01 3.900e+01 4.000e+01 4.100e+01 4.200e+01
 4.300e+01 4.400e+01 4.500e+01 4.600e+01 4.700e+01 4.800e+01 4.900e+01
 5.000e+01 5.100e+01 5.200e+01 5.300e+01 5.400e+01 5.500e+01 5.600e+01
 5.700e+01 5.800e+01 5.900e+01 6.000e+01 6.100e+01 6.200e+01 6.300e+01
 6.400e+01 6.500e+01 6.600e+01 6.700e+01 6.800e+01 6.900e+01 7.000e+01
 7.100e+01 7.200e+01 7.300e+01 7.400e+01 7.500e+01 7.600e+01 7.700e+01
 7.800e+01 7.900e+01 8.000e+01 8.100e+01 8.200e+01 8.300e+01 8.400e+01
 8.500e+01 8.600e+01 8.700e+01 8.800e+01 8.900e+01 9.000e+01 9.100e+01
 9.200e+01 9.300e+01 9.400e+01 9.500e+01 9.600e+01 9.700e+01 9.800e+01
 9.900e+01 1.000e+02 1.010e+02 1.020e+02 1.030e+02 1.040e+02 1.050e+02
 1.060e+02 1.070e+02 1.080e+02 1.090e+02 1.100e+02 1.110e+02 1.120e+02
 1.130e+02 1.140e+02 1.150e+02 1.160e+02 1.170e+02 1.180e+02 1.190e+02
 1.200e+02 1.210e+02 1.220e+02 1.230e+02 1.240e+02 1.250e+02 1.260e+02
 1.270e+02 1.280e+02 1.290e+02 1.300e+02 1.310e+02 1.320e+02 1.330e+02
 1.340e+02 1.350e+02 1.360e+02 1.370e+02 1.380e+02 1.390e+02 1.400e+02
 1.410e+02 1.420e+02 1.430e+02 1.440e+02 1.450e+02 1.460e+02 1.470e+02
 1.480e+02 1.490e+02 1.500e+02 1.510e+02 1.520e+02 1.540e+02 1.550e+02
 1.570e+02 1.580e+02 1.610e+02 1.620e+02 1.630e+02 1.640e+02 1.650e+02
 1.660e+02 1.670e+02 1.680e+02 1.690e+02 1.700e+02 1.710e+02 1.720e+02
 1.730e+02 1.760e+02 1.770e+02 1.780e+02 1.790e+02 1.800e+02 1.810e+02
 1.820e+02 1.830e+02 1.840e+02 1.850e+02 1.860e+02 1.870e+02 1.880e+02
 1.890e+02 1.900e+02 1.910e+02 1.920e+02 1.930e+02 1.950e+02 1.970e+02
 1.980e+02 1.990e+02 2.000e+02 2.030e+02 2.050e+02 2.060e+02 2.070e+02
 2.080e+02 2.090e+02 2.110e+02 2.120e+02 2.130e+02 2.140e+02 2.150e+02
 2.160e+02 2.170e+02 2.180e+02 2.190e+02 2.200e+02 2.210e+02 2.220e+02
 2.230e+02 2.240e+02 2.270e+02 2.290e+02 2.300e+02 2.310e+02 2.320e+02
 2.340e+02 2.350e+02 2.370e+02 2.380e+02 2.390e+02 2.400e+02 2.410e+02
 2.460e+02 2.490e+02 2.500e+02 2.520e+02 2.530e+02 2.550e+02 2.560e+02
 2.570e+02 2.580e+02 2.600e+02 2.610e+02 2.620e+02 2.630e+02 2.650e+02
 2.700e+02 2.710e+02 2.730e+02 2.740e+02 2.760e+02 2.770e+02 2.800e+02
 2.810e+02 2.830e+02 2.860e+02 2.880e+02 2.900e+02 3.030e+02 3.040e+02
 3.110e+02 3.140e+02 3.170e+02 3.210e+02 3.230e+02 3.240e+02 3.260e+02
 3.290e+02 3.360e+02 3.510e+02 3.600e+02 3.620e+02 3.720e+02 3.740e+02
 3.840e+02 3.860e+02 3.890e+02 3.920e+02 3.940e+02 4.050e+02 4.150e+02
 4.160e+02 4.260e+02 4.310e+02 4.430e+02 4.450e+02 4.490e+02 4.510e+02
 4.530e+02 4.550e+02 4.720e+02 4.920e+02 5.020e+02 5.180e+02 5.520e+02
 5.540e+02 5.660e+02 7.050e+02 1.415e+03       nan]
206

In [13]:
def dowload_ao2020_data():
    """
    To get the data for the tournament? if we need to scrape these are the links of the matches
    https://ausopen.com/tournament-schedule
    https://ausopen.com/schedule#!8071
    """
    
def get_elo():
    from requests import get